* {
  font-family: sans-serif;
}

h1 {
  color: #27aedb;
  text-align: center;
}

button {
  color: #27aedb;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.button-blocks {
  width: 20%;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}

button {
  display: block;
  font-size: large;
  border: none;
  color: rgb(255, 179, 37);
  background-color: transparent;
}

/* a {
  text-decoration: none;
} */

button {
  cursor: pointer;
  color: yellowgreen;
}

.items-block {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.item-block {
  display: flex;
  border: 1px solid black;
}

.img-block {
  width: 30%;
  border: 3px solid orange;
}

.img-block > img {
  width: 100%;
  height: auto;
}

.content-block {
  width: 55%;
  margin: auto;
}

.title-block {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed;
}

.title,
.price {
  font-weight: bold;
}

.desc {
  color: rgb(155, 148, 148);
}
